# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.venv/

# MATLAB
*.asv
*.m~
slprj/

# LaTeX
*.aux
*.log
*.out
*.synctex.gz

# Archives / temp
*.tmp
~$*
